In [48]:
#Importing all the required packages

import pandas as pd
import pymongo
from bson.son import SON
import numpy

In [49]:
#Reading the CSV
csv_file = "craigslist.csv"
cragslist = pd.read_csv(csv_file)
cragslist.head()

,Region,area,bedrooms,name,price,url,where,Latitude,Longtitude,City
0,sfc,NaN,3,$1575 Converted Bedroom in a New High-Rise Lux...,1575,https://sfbay.craigslist.org/sfc/apa/d/san-fra...,hayes valley,37.775159,-122.425053,san francisco
1,sfc,350ft2,0,"1 bedroom 1 bath ground floor 2,100",2100,https://sfbay.craigslist.org/sfc/apa/d/san-fra...,inner richmond,37.778600,-122.489200,san francisco
2,sfc,NaN,2,OPEN HOUSE SUNDAY 4/7 Large 2 Bedroom Unit Ava...,3950,https://sfbay.craigslist.org/sfc/apa/d/san-fra...,pacific heights,37.787977,-122.448656,san francisco
3,sfc,NaN,2,"38th Ave/Fulton - Freshly painted lg 2/1, Clo...",3200,https://sfbay.craigslist.org/sfc/apa/d/san-fra...,richmond / seacliff,37.772315,-122.498142,daly city
4,sfc,NaN,2,"2130 Santiago St. : 2 Bedrooms, with 2 Baths ...",2700,https://sfbay.craigslist.org/sfc/apa/d/san-fra...,ingleside / SFSU / CCSF,37.744290,-122.490078,daly city

In [50]:
#Making Mongo DB connections
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

#Creating DB
db = client.rent_DB

#Creating collections for the DB
craigslist_collection = db.craigs.find()

In [51]:
#Inserting into DB
db.craigslist_collection.insert_many(cragslist.to_dict("records"))